.App {
  min-height: 100vh;
  background-image: linear-gradient(15deg, #3cb371 20%, #e1c294 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 10px #979b91;
}

.search-button {
  background: #c5cb21;
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-size: larger;
  margin: 0 0 0 10px;
}

.search-button:hover {
  background-color: #b4b4b4;
}

.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}